# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.db
*.sqlite

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/

# Packages
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb_convert/

# --- VS Code ---
.vscode/
.history/

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- IDE ---
.idea/
